# Python
venv/
__pycache__/
*.pyc

# Environment Variables
.env
backend/.env

# Uploads & Vector DB
uploads/
faiss_index/

# Node
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db